.header{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.icon{
    margin-left: 15px;
}

.response{
    background-color: rgba(0, 0, 0, 0.123);
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
}